---
name: blog
menu-title: Blog
---

<div class="wrapper" data-grid="spacing">

    {% for post in site.posts limit:2 %}
    <article data-cell="1of3">

        <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <small class="post-meta">{{ post.date | date: "%-d/%m/%Y" }}</small>
        {% if post.excerpt %}
        <p>
            {{ post.excerpt | prepend: site.baseurl | strip_html | strip_newlines | truncatewords: 25, '...' }}
            <small><a href="{{ post.url | prepend: site.baseurl }}">Continue lendo...</a></small>
        </p>
        {% endif %}

    </article>
    {% endfor %}

    <aside class="card" data-cell="1of3">
        {% include search-form.html size='small' %}
        <p class="rss-subscribe">Assine o <a href="{{ " /feed.xml " | prepend: site.baseurl }}">feed RSS</a></p>
        <p data-cell="shrink"><a href="/blog/">Vá para o Blog</a></p>
    </aside>

</div>
