---
layout: default
---

<div class="home">

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <small class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</small>

        {% if post.excerpt %}
          {{ post.excerpt | prepend: site.baseurl }}
          <div data-grid="end">
            <small><a href="{{ post.url | prepend: site.baseurl }}">Continue lendo...</a></small>
          </div>
        {% endif %}


      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">Assine o <a href="{{ "/feed.xml" | prepend: site.baseurl }}">feed RSS</a></p>

</div>
