
<form action="{{ site.baseurl }}/pesquisar/" method="get" class="form-search">

    <input type="hidden" name="ref" value="{{ page.url }} {{ include.ref }}">
    {% if include.size == 'small' %}<label for="q" class="form-search-label">Pesquisar no blog</label>{% endif %}

    <p data-grid="row nowrap" class="form-search-control">

        <input 
            type="search" 
            name="q" 
            required 
            placeholder="{% if include.size == 'small' %}Digite...{% else %}Digite a sua pesquisa...{% endif %}"
        >

        <button class="icon">{% include lupa.svg %}</button>

    </p>

</form>
