
.site-header 
    height: 70vh
    position: relative
    background: 
        image: url($header-default)
        image: linear-gradient(to bottom right, rgba(230, 213, 179, .7), rgba($hero, .1)), url($header-default)
        position: center
        repeat: no-repeat
        size: cover

    +media-query($on-palm)
        background-position: 80% 0

    +media-greater($on-laptop)
        background: 
            image: linear-gradient(to bottom right, rgba(230, 213, 179, .7), rgba($hero, .1)), url($header-high)
            position: 0 30%

.site-title 
    font-size: 26px
    font-weight: 300
    line-height: 56px
    letter-spacing: -1px
    margin: auto
    margin-bottom: 0
    padding-top: $spacing-unit / 2
    max-width: 50%
    float: left

    +media-query($on-palm)
        float: none
        display: block
        max-width: 75%

    &,
    &:visited 
        color: $grey-color-dark

.site-nav 
    float: right
    line-height: 56px

    .menu-icon 
        display: none

    .page-link 
        color: $text-color
        line-height: $base-line-height

        // Gaps between nav items, but not on the last one
        &:not(:last-child) 
            margin-right: 20px

    +media-query($on-palm) 
        position: absolute
        top: 0
        right: 0
        text-align: right

        .menu-icon 
            display: block
            float: right
            width: 36px
            height: 26px
            line-height: 0
            padding-top: 10px
            text-align: center

            > svg 
                width: 18px
                height: 15px

                path 
                    fill: $grey-color-dark

        .trigger 
            clear: both
            display: none
        

        &:hover
            background-color: $background-color
            box-shadow: -1px 1px 1px $grey-color-light
            .trigger 
                display: block
                padding-bottom: 5px
        

        .page-link 
            display: block
            padding: 5px 10px

            &:not(:last-child) 
                margin-right: 0
            
            margin-left: 20px

.site-footer 
    border-top: 1px solid $grey-color-light
    padding: $spacing-unit * 2 0 $spacing-unit
    background-color: $hero-dark
    color: #fff
    font-size: $small-font-size

    a
        color: $hero-light

    +media-query($on-palm)
        text-align: center

.site-footer-logo
    width: 240px



.page-content 
    padding: $spacing-unit 0


.page-heading 
    font-size: 20px

.post-list 
    margin-left: 0
    list-style: none

    > li 
        margin-bottom: $spacing-unit

.post-meta 
    color: $grey-color
    font-size: $small-font-size

.post-link 
    display: block
    font-size: 24px

.pagination
    max-width: $content-width
    margin: auto
    padding: 0 $spacing-unit / 2
    background-color: $grey-color-light
    > *
        padding: 10px

.post-header 
    margin-bottom: $spacing-unit


.post-title 
    font-size: 42px
    letter-spacing: -1px
    line-height: 1

    @include media-query($on-laptop) 
        font-size: 36px
    


.post-content 
    margin-bottom: $spacing-unit

    >
        h1, h2, h3, h4, h5, h6,
        p, blockquote, pre,
        ul, ol, dl, figure, table, hr
            @extend .wrapper
        
        ol, ul, blockquote
            padding-left: $spacing-unit * 2
            +media-query($on-palm)
                padding-left: $spacing-unit