.section-

    &intro

        .hero
            position: relative
            margin-top: -100px
            max-width: $content-width / 2
            
    &links

        .card
            height: 180px

