.section-

    &intro

        +media-greater($on-palm)
            .hero
                position: relative
                margin-top: -15%
        +media-greater($on-laptop)
            // background: 
            .hero
                max-width: 50%
            
    &links

        .card
            height: 180px

