
$base-font-family : 'PT Sans', sans-serif
$title-font-family : 'Oswald', sans-serif
$base-font-size   : 1.2em
$base-font-weight : 400
$small-font-size  : $base-font-size * 0.6
$base-line-height : 1.5

$spacing-unit     : 30px

$background-image : "https://c2.staticflickr.com/8/7439/27410633270_f46fb0156e_b.jpg"
$background-high  : "https://c2.staticflickr.com/8/7439/27410633270_3ee5e96a66_h.jpg"

$color-1          : #4e7687
$color-2          : #688d9e
$color-3          : #94ddff
$color-4          : #006c9e
$color-5          : #19262b

$text-color       : desaturate($color-5, 100%)
$background-color : #fdfdfd
$brand-color      : $color-1
$brand-shadow     : $color-2

$grey-color       : desaturate($color-2, 100%)
$grey-color-light : desaturate($color-3, 100%)
$grey-color-dark  : desaturate($color-4, 100%)

// Width of the content area
$content-width    : 1000px

$on-palm          : 600px
$on-laptop        : 800px

