
$base-font-family : "Helvetica Neue", Helvetica, Arial, sans-serif
$base-font-size   : 1em
$base-font-weight : 400
$small-font-size  : $base-font-size * 0.875
$base-line-height : 1.5

$spacing-unit     : 30px

$background-image : "https://c2.staticflickr.com/8/7439/27410633270_3ee5e96a66_h.jpg"

$color-1          : #4e7687
$color-2          : #688d9e
$color-3          : #94ddff
$color-4          : #006c9e
$color-5          : #19262b

$text-color       : $color-5
$background-color : #fdfdfd
$brand-color      : $color-1

$grey-color       : #828282
$grey-color-light : lighten($grey-color, 40%)
$grey-color-dark  : darken($grey-color, 25%)

// Width of the content area
$content-width    : 800px

$on-palm          : 600px
$on-laptop        : 800px

