---
layout: default
---
<article class="page-content post" itemscope itemtype="http://schema.org/BlogPosting">

	<header class="wrapper post-header">
		<h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
		<p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%-d/%m/%Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
	</header>

	<div class="post-content" itemprop="articleBody" data-cell="2of3">
		{{ content }}
	</div>

	<div class="hero grey-light" data-grid="around spacing">

	{% if page.next %}
		<div class="wrapper small" data-text="right">
			<p><small>Mais recente</small></p>
			<h4><a href="{{ page.next.url }}">{{ page.next.title }}</a></h4>
			<p><small>{{ page.next.excerpt | strip_html | strip_newlines | truncatewords: 25, '...' }}</small></p>
		</div>
	{% endif %}

	{% if page.previous %}
		<div class="wrapper small" data-text="left">
			<p><small>Anterior</small></p>
			<h4><a href="{{ page.previous.url }}">{{ page.previous.title }}</a></h4>
			<p><small>{{ page.previous.excerpt | strip_html | strip_newlines | truncatewords: 25, '...' }}</small></p>
		</div>
	{% endif %}

	</div>

</article>

<div class="page-content">
	<div class="wrapper">
		<p>Em caso de dúvidas sobre os textos de Alergia e Imunologia, comente abaixo! Se julgar interessante, compartilhe.</p>
		<p>Um Abraço, Dr. Fabrício Rubens Pires Afonso</p>
	</div>
</div>