---
layout: default
---
<article class="page-content post" itemscope itemtype="http://schema.org/BlogPosting">

	<header class="wrapper post-header">
		<h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
		<p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%-d/%m/%Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
	</header>

	<div data-grid="justify">

		<div class="post-content" itemprop="articleBody" data-cell="2of3">
		  {{ content }}
		</div>

		<div class="wrapper sidebar" data-cell="1of3">
		{% if page.next %}
			<p><small>Mais recente: <time class="post-meta" datetime="{{ page.next.date | date_to_xmlschema }}">{{ page.next.date | date: "%-d/%m/%y" }}</time></small></p>
			<h4><a href="{{ page.next.url }}">{{ page.next.title }}</a></h4>
			<p><small>{{ page.next.excerpt | strip_html }} <a href="{{ page.next.url }}">Mais...</a></small></p>
			<hr>
		{% endif %}
		{% if page.previous %}
			<p><small>Anterior: <time class="post-meta" datetime="{{ page.previous.date | date_to_xmlschema }}">{{ page.previous.date | date: "%-d/%m/%y" }}</time></small></p>
			<h4><a href="{{ page.previous.url }}">{{ page.previous.title }}</a></h4>
			<p><small>{{ page.previous.excerpt | strip_html }} <a href="{{ page.previous.url }}">Mais...</a></small></p>
		{% endif %}
		</div>

	</div>

</article>
